<%= link_to "Find Top Rated Movies","/movies?q=toprated", method: :get %>

<%= form_tag '/movies', method: :get do %>
  <%= search_field_tag :search,nil, placeholder: "Search by movie title" %>
  <%= submit_tag "Find Movies" %>
<% end %>

<% if @movie_results %>
  <section class='search-results top-rated'>
    <% if @movie_results.empty? %>
      <h3> There was no match to the movie entered.</h3>
    <% else %>
      <% @movie_results.each do |movie| %>
        <p><%= link_to movie[:title], "/movies/#{movie[:id]}" %></p>
        <p>Vote Average: <%= movie[:vote_average] %></p>
      <% end %>
    <% end %>
  </section>
<% end %>
