<%= render 'partials/navbar' %>

<%= link_to "Find Top Rated Movies","/movies?q=toprated", method: :get %>

<%= form_tag '/movies', method: :get do %>
  <%= search_field_tag :search,nil, placeholder: "Search by movie title" %>
  <%= submit_tag "Find Movies" %>
<% end %>

<% if @movies %>
  <section class='search-results top-rated'>
    <% if @movies.empty? %>
      <h3> No movies found with that keyword.</h3>
    <% else %>
      <% @movies.each do |movie| %>
        <p><%= link_to movie.title, "/movies/#{movie.id}" %></p>
        <p>Vote Average: <%= movie.vote_average %></p>
      <% end %>
    <% end %>
  </section>
<% end %>
