

<%= link_to  "Add Viewing Party for Movie", "/view_party/new?q=#{@movie.id}", method: :get %>

 <h4>Title:</h4>
  <p><%= @movie.title %></p>
 <h4>Average Votes:</h4>
  <p><%= @movie.vote_average %></p>
 <h4>Runtime:</h4>
  <p><%= @movie.runtime %> minutes</p>
 <h4>Summary:</h4>
  <p><%= @movie.summary %></p>

 <section class='genres'>
   <h4>Genres:</h4>
   <% @movie.genres_names.each do |genre_name| %>
   <p><%= genre_name %></p>
   <% end %>
 </section>

 <section class='characters'>
   <h4>Actors & Characters:</h4>
   <% @movie.top_cast.each do |cast| %>
    <p>Actor/Actress: <%= cast[:name] %> Character: <%= cast[:character] %></p>
  <% end %>
 </section>

 <section class='reviews'>
   <h4>Reviews:</h4>
   <P> Number of Reviews: <%= @movie.reviews_count %></P>
   <% @movie.reviews.each do |review| %>
    <p>Author: <%= review[:author] %></p>
    <p>Review: <%= review[:content] %></p>
   <% end %>
 </section>
