
<h1>Welcome <%= current_user.name %>!</h1>


<%= button_to "Discover Movies", "/discover", method: :get %>

<section class='friends'>
  <h2>Friends</h2>
  <%= form_tag "/friendship" do %>
    <%= text_field_tag :email, "What's their email?" %>
    <%= submit_tag 'Add Friend' %>
  <% end %>
  <br>

  <% if current_user.friends.size > 0 %>
    <h3>My Friends</h3>
      <% current_user.friends.each do |friend| %>
        <h4>Name: <%= friend.name %></h4>
        <p>Email: <%= friend.email %></p>
      <% end %>
  <% else %>
    <h3>You currently have no friends</h3>
  <% end %>
</section>

<section class='viewing-parties'>
  <h2>Viewing Parties</h2>
  <% if current_user.all_parties.empty? %>
    <p>You have no viewing parties!</p>
  <% else %>
    <% current_user.all_parties.each do |party| %>
      <p>Movie: <%= party.movie.name %>
      <p>Date: <%= party.date %>
      <% if  current_user.parties_attending.include?(party) %>
      <%= button_to "Add to my Google Calendar", "/events?party_id=#{party.id}" %>
      <% end %>
      <br><br>
    <% end %>
  <% end %>
</section>
