<h1>Welcome <%= current_user.name %>!</h1>

<%= button_to "Discover Movies", "/discover", method: :get %>

<section class='friends'>
  <h2>Friends</h2>
  <%= form_tag "/friendship" do %>
    <%= text_field_tag :email, "What's their email?" %>
    <%= submit_tag 'Add Friend' %>
  <% end %>
  <br>
  <h3>My Friends</h3>
    <% current_user.friends.each do |friend| %>
      <h4>Name: <%= friend.name %></h4>
      <p>Email: <%= friend.email %></p>
      <% end %>
</section>

<section class='viewing-parties'>
  <h2>Viewing Parties</h2>
</section>
