<%= render 'partials/navbar' %>

<h1>Viewing Party Details:</h1>
<h2><span>Movie Title: </span><%= @movie.name %></h2>

<%= form_tag "/view_party" do %>
  <%= label_tag :duration, "Duration of Party in minutes" %>
  <%= text_field_tag :duration, "#{@movie.duration}" %>
  <br>
  <br>
  <%= label_tag :date, "When" %>
  <%= date_field_tag :date %>
  <br>
  <br>
  <p>Friends</p>
  <% if current_user.friends.empty? == false %>
    <%= collection_check_boxes(:friend_ids, current_user.id, current_user.friends, :id, :email) %>
  <% else %>
    <p>You currently have no friends</p>
  <% end %>

  <%= hidden_field_tag :movie_id, @movie.id %>
  <%= hidden_field_tag :movie_name, @movie.name %>

  <%= submit_tag "Create Party" %>
<% end %>
<br><br>
